.learning-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.learning-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid linear-gradient(90deg, #234EB0 0%, #B656E2 99.98%);
  margin: 2px;
}
